body {
    margin: 0;
    background-color: #F5F5F5;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

header nav {
    display: flex;
    width: 100%;
    height: 55px;
    background-color: #FF0B55;
    justify-content: space-between;
    align-items: center;
    gap: 20px
}

header nav div {
    display: flex;
    align-items: center;
    gap: 10px;
}

header nav div h1 {
    color: #F5F5F5;
}

header nav div a img {
    height: 30px;
    width: 140px;
}


header nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 0;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 22px;
}


main>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25%;
    margin-top: 40px;
}

.profile {
    width: 320px;
    height: 520px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.profile img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: 1;
    image-resolution: stretch;
}

.profile h1,
.profile p {
    position: absolute;
    left: 16px;
    color: #fff;
    margin: 0;
    z-index: 5;
}

.profile h1 {
    bottom: 40px;
    font-size: 22px;
    font-weight: 600;
}

.profile p {
    bottom: 20px;
    font-size: 18px;
}


.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: -25px;
    z-index: 2;
}

.buttons .other_button {
    background-color: #f50057;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s;
}

.buttons .heart_button {
    background-color: #f50057;
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s;
    margin-top: -10px;
}


.buttons button:hover {
    transform: scale(1.1);
}

.catogeries {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 380px;
    align-items: stretch;
}

.catogeries a {
    text-decoration: none;
}

.catogeries button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f50057;
    border: none;
    color: white;
    padding: 20px 30px;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, transform 0.2s;
}

.catogeries button:hover {
    background-color: #ff4081;
    transform: translateY(-2px);
}

.catogeries button h1 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.catogeries button:hover h2 {
    color: #F5F5F5;
    margin: 0;
}

.catogeries .filter {
    width: 40%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    color: #f50057;
    border-color: #f50057;
    padding: 20px 30px;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, transform 0.2s;
}

.catogeries .filter:hover {
    background-color: #ff4081;
    transform: translateY(-2px);
}

.catogeries .filter h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.catogeries>div>div button {
    display: flex;
    align-items: start;
    height: 50px;
    gap: 8px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 2px solid #f27a91;
    background: #fff;
    color: #d93b5f;
    padding: 5px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.06);
}

.catogeries>div>div button h2 {
    font-size: 15px;
}

.catogeries>div>div button.active {
    background: #d93b5f;
    color: #fff;
    border-color: #d93b5f;
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(217, 59, 95, 0.18);
}

.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
}

.dropbtn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f50057;
    color: white;
    border: none;
    padding: 20px 30px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    transition: background 0.3s, transform 0.2s;
}

.dropbtn:hover {
    background-color: #ff4081;
    transform: translateY(-2px);
}

.dropdown-content {
    display: none;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 12px;
}

.dropdown-content .button svg {
    color: #f50057;
}

.dropdown:hover .dropdown-content {
    display: flex;
}


.dropdown-content button {
    width: 110px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 8px;
    border: 2px solid #f27a91;
    background: #fff;
    color: #f50057;
    font-size: 14px;
    padding: 5px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.dropdown-content button:hover {
    background: #f50057;
    color: #fff;
    transform: translateY(-2px);
}

.catogeries a button,
.catogeries .filter {
    width: 100%;
}

.dropdown-content-school {
    display: none;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
}

.dropdown-content-school button {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 15px;
    border-radius: 8px;
    border: 2px solid #f27a91;
    background: #fff;
    color: #f50057;
    font-size: 14px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.dropdown-content-school button:hover {
    background: #f50057;
    color: #fff;
    transform: translateY(-2px);
}

.dropdown:hover .dropdown-content-school {
    display: flex;
}